html,
body {
  height: 100%;
  background-color: #333;
  width: 100%;
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
body {
  color: #fff;
  padding-top: 20%;
}

.header{
  font-size: 1000%;
  text-align: center;
}

/*Searchbar*/
.searchbar{
  width: 720px;
  margin: 20px auto 0;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #ddd;
  background-color: #111;
  background-image: none;
  border: 1px solid #222;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #999;
}
.form-control::-webkit-input-placeholder {
  color: #999;
}

.btn-dark {
  color: #fff;
  background-color: #222;
  border-color: #222;
}
.btn-dark:hover,
.btn-dark:focus,
.btn-dark.focus,
.btn-dark:active,
.btn-dark.active,
.open > .dropdown-toggle.btn-dark {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}
.btn-dark:active,
.btn-dark.active,
.open > .dropdown-toggle.btn-dark {
  background-image: none;
}
.btn-dark.disabled,
.btn-dark[disabled],
fieldset[disabled] .btn-dark,
.btn-dark.disabled:hover,
.btn-dark[disabled]:hover,
fieldset[disabled] .btn-dark:hover,
.btn-dark.disabled:focus,
.btn-dark[disabled]:focus,
fieldset[disabled] .btn-dark:focus,
.btn-dark.disabled.focus,
.btn-dark[disabled].focus,
fieldset[disabled] .btn-dark.focus,
.btn-dark.disabled:active,
.btn-dark[disabled]:active,
fieldset[disabled] .btn-dark:active,
.btn-dark.disabled.active,
.btn-dark[disabled].active,
fieldset[disabled] .btn-dark.active {
  background-color: #337ab7;
  border-color: #2e6da4;
}
.btn-dark .badge {
  color: #337ab7;
  background-color: #fff;
}
/*Dropdown Panels*/
.dropdown{
  margin: 32px auto;
  width: 720px;
}
.panel {
  margin-bottom: 20px;
  background-color: rgba(0,0,0,.5);
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .05);

}
.panel-body {
  padding: 15px;
}
.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.panel-heading > .dropdown .dropdown-toggle {
  color: inherit;
}
.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  color: inherit;
}
.panel-title > a {
  color: inherit;
  font-family: 'Oswald';
  font-weight: 700;
  text-transform: uppercase;
  vertical-align: middle;
}
.panel-title a:hover{
  color: #337ab7;
  text-decoration: none;

}
.panel-dark {
  border-color: #222;
}
.panel-dark > .panel-heading {
  color: #fff;
  background-color: #222;
  border-color: #222;
}
.panel-dark > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #222;
}
.panel-dark > .panel-heading .badge {
  color: #222;
  background-color: #fff;
}
.panel-dark > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #222;
}

.arrow{
  float: right;
}

.links{
  text-align: center;
  margin: 0;
  padding: 0;
}

.links li{
  display: inline;
  font-size: 200%;
  padding: 0px 16px;
}

.links li a{
  color: #fff;
}
.links li a:hover{
  color: #337ab7;
  text-decoration: none;
}